*{
  box-sizing: border-box;
  overflow: hidden;
}

.chatroom{
  background-color: rgb(91, 125, 85);
  min-height: 300px; /* Adjust the minimum height */
  max-height: 95vh; /* Set a maximum height */
  width: 400px;
  max-width: 400px;
  margin: auto;
  border: 2px solid rgb(168, 144, 144);
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#logoutbutton{
  position: absolute; /* Ensure the login button is positioned */
  z-index: 2; /* Higher z-index to stack on top of .chatroom */
  top: 10px; /* Adjust as needed */
  right: 10px; /* Adjust as needed */
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#divBehindChatroom {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(91, 125, 85);
  overflow: hidden;
  
}

.messageform{
  display: flex;
  align-items: flex-end; /* Align items to the bottom */
  width: 100%;
  background-color: rgb(80, 80, 102);
  padding: 5px; /* Add padding for better spacing */
  box-sizing: borde
  r-box; /* Ensure padding is included in the width */
  flex-shrink: 0; /* Prevent shrinking */
  border-radius: 10px;
}

.messageform form {
  display: flex;
  width: 100%;
}

.messageform textarea {
  flex-grow: 1;
  width: calc(100% - 60px); /* Adjust width to leave space for the button */
  overflow-y: auto; /* Make the textarea scrollable */
  resize: none;
  max-height: 100%; /* Limit the height to the height of the .messageform div */
  border-radius: 10px;
}

.messageform button {
  height: 60px;
  width: 80px; /* Fixed width for the button */
  align-self: flex-end; /* Align the button to the bottom */
  margin: 2px;
  border-radius: 20px;
}

#chatHistoryBox {
  padding: 10px;
  flex-grow: 1;
  overflow-y: auto;
  background-color: rgb(255, 255, 255);
  border-bottom: 2px solid rgb(168, 144, 144);
}

#chatHistoryBox ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#chatHistoryBox li {
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: rgb(230, 230, 230);
  word-wrap: break-word;
}

#chatHistoryBox li .user {
  font-weight: bold;
  margin-right: 5px;
}

#chatHistoryBox li .message-text {
  color: rgb(50, 50, 50);
}

#chatHistoryBox li .message-time {
  display: block;
  font-size: 0.8em;
  color: gray;
  margin-top: 5px;
}

.loginDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(91, 125, 85);
}

.loginDiv form {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.loginDiv input {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid rgb(168, 144, 144);
  border-radius: 5px;
}

.loginDiv button {
  padding: 10px;
  background-color: rgb(80, 80, 102);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 4px;
}

.loginDiv button:hover {
  background-color: rgb(60, 60, 82);
}

.notification {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgb(80, 80, 102);
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.notification span {
  margin: 0 5px;
}

.registrationDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(91, 125, 85);
}

.registrationDiv form {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.registrationDiv input {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid rgb(168, 144, 144);
  border-radius: 5px;
}

.registrationDiv button {
  padding: 10px;
  background-color: rgb(80, 80, 102);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 4px;
}

.registrationDiv button:hover {
  background-color: rgb(60, 60, 82);
}

